In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass 
password = getpass.getpass()

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query = 'SELECT film_id, f.title, special_features, rental_rate, length, rating, r.rental_date, CASE WHEN rental_date NOT LIKE "%%2005-08%%" THEN 1 ELSE 0 END AS "checking_in_aug" FROM rental r JOIN inventory i USING (inventory_id) JOIN film f USING (film_id) GROUP BY film_id'
data = pd.read_sql_query(query, engine)
print(data.shape)
data.head()

(958, 8)

,film_id,title,special_features,rental_rate,length,rating,rental_date,checking_in_aug
0,1,ACADEMY DINOSAUR,"Deleted Scenes,Behind the Scenes",0.99,86,PG,2005-07-08 19:03:15,1
1,2,ACE GOLDFINGER,"Trailers,Deleted Scenes",4.99,48,G,2005-08-01 04:24:47,0
2,3,ADAPTATION HOLES,"Trailers,Deleted Scenes",2.99,50,NC-17,2005-07-27 01:21:19,1
3,4,AFFAIR PREJUDICE,"Commentaries,Behind the Scenes",2.99,117,G,2005-07-12 02:40:41,1
4,5,AFRICAN EGG,Deleted Scenes,2.99,130,G,2005-05-28 07:53:38,1

In [3]:
data.dtypes

film_id                      int64
title                       object
special_features            object
rental_rate                float64
length                       int64
rating                      object
rental_date         datetime64[ns]
checking_in_aug              int64
dtype: object

In [4]:
data.isna().sum()

film_id             0
title               0
special_features    0
rental_rate         0
length              0
rating              0
rental_date         0
checking_in_aug     0
dtype: int64

In [5]:
data['length'].value_counts()

85     17
179    13
84     13
112    12
73     11
       ..
81      3
96      2
66      2
55      2
95      2
Name: length, Length: 140, dtype: int64

In [6]:
data['rating'].value_counts()

PG-13    213
NC-17    202
R        189
PG       183
G        171
Name: rating, dtype: int64

In [7]:
data['rental_rate'].value_counts()

0.99    326
4.99    320
2.99    312
Name: rental_rate, dtype: int64

In [8]:
data['special_features'].value_counts()

Trailers,Commentaries,Behind the Scenes                   76
Trailers                                                  71
Commentaries,Behind the Scenes                            70
Deleted Scenes,Behind the Scenes                          68
Behind the Scenes                                         68
Trailers,Commentaries                                     67
Trailers,Behind the Scenes                                67
Trailers,Deleted Scenes                                   65
Commentaries,Deleted Scenes,Behind the Scenes             65
Commentaries,Deleted Scenes                               62
Commentaries                                              61
Trailers,Commentaries,Deleted Scenes                      60
Deleted Scenes                                            57
Trailers,Commentaries,Deleted Scenes,Behind the Scenes    55
Trailers,Deleted Scenes,Behind the Scenes                 46
Name: special_features, dtype: int64

In [13]:
rented_films = data[['film_id','special_features','rental_rate','length','rating','checking_in_aug']]
rented_films.head()

,film_id,special_features,rental_rate,length,rating,checking_in_aug
0,1,"Deleted Scenes,Behind the Scenes",0.99,86,PG,1
1,2,"Trailers,Deleted Scenes",4.99,48,G,0
2,3,"Trailers,Deleted Scenes",2.99,50,NC-17,1
3,4,"Commentaries,Behind the Scenes",2.99,117,G,1
4,5,Deleted Scenes,2.99,130,G,1

In [14]:
rented_films.dtypes

film_id               int64
special_features     object
rental_rate         float64
length                int64
rating               object
checking_in_aug       int64
dtype: object

In [27]:
import numpy as np

In [37]:
y = rented_films['checking_in_aug']
X = rented_films.drop(['checking_in_aug'], axis=1)

In [38]:
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = np.object)
display(X_num.head())
display(X_cat.head())

<ipython-input-38-78296364ca64>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_cat = X.select_dtypes(include = np.object)

   film_id  rental_rate  length
0        1         0.99      86
1        2         4.99      48
2        3         2.99      50
3        4         2.99     117
4        5         2.99     130

                   special_features rating
0  Deleted Scenes,Behind the Scenes     PG
1           Trailers,Deleted Scenes      G
2           Trailers,Deleted Scenes  NC-17
3    Commentaries,Behind the Scenes      G
4                    Deleted Scenes      G

In [39]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
print(x_standardized.shape)
pd.DataFrame(x_standardized, columns=X_num.columns)

(958, 3)

      film_id  rental_rate    length
0   -1.745347    -1.210182 -0.729050
1   -1.741867     1.225436 -1.668465
2   -1.738388     0.007627 -1.619022
3   -1.734908     0.007627  0.037314
4   -1.731429     0.007627  0.358693
..        ...          ...       ...
953  1.716828    -1.210182  1.668930
954  1.720307    -1.210182  1.570044
955  1.723787    -1.210182 -0.259343
956  1.727266     0.007627 -0.358229
957  1.730746     1.225436 -1.619022

[958 rows x 3 columns]

In [40]:
categorical = pd.get_dummies(X_cat, 
                             columns=['special_features', 'rating'],
                             drop_first=True)
print(categorical.shape)
categorical.head()

(958, 18)

,special_features_Commentaries,"special_features_Commentaries,Behind the Scenes","special_features_Commentaries,Deleted Scenes","special_features_Commentaries,Deleted Scenes,Behind the Scenes",special_features_Deleted Scenes,"special_features_Deleted Scenes,Behind the Scenes",special_features_Trailers,"special_features_Trailers,Behind the Scenes","special_features_Trailers,Commentaries","special_features_Trailers,Commentaries,Behind the Scenes","special_features_Trailers,Commentaries,Deleted Scenes","special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes","special_features_Trailers,Deleted Scenes","special_features_Trailers,Deleted Scenes,Behind the Scenes",rating_NC-17,rating_PG,rating_PG-13,rating_R
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [46]:
# X = pd.concat([x_standardized, categorical], axis=1)
X = np.concatenate((x_standardized, categorical), axis=1)

In [47]:
X.shape

(958, 21)

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [49]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=0, solver='saga',
                  multi_class='multinomial').fit(X_train, y_train)

In [50]:
predictions = classification.predict(X_test)
classification.score(X_test, y_test)

0.9340277777777778

In [51]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[  0,  19],
       [  0, 269]], dtype=int64)

In [52]:
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=5, weights='uniform')
clf.fit(X, y)
predictions_clf = clf.predict(X_test)
clf.score(X_test, y_test)

0.9340277777777778

In [53]:
pd.Series(y_test).value_counts()

1    269
0     19
Name: checking_in_aug, dtype: int64

In [54]:
pd.Series(predictions_clf).value_counts()

1    284
0      4
dtype: int64